<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Exercice 1 - Première page HTML</title>
</head>
<body>
    <h1>Titre principal de la page</h1>
    <h2>Titre2</h2>
    <h3>Titre3</h3>
    <h4>Titre4</h4>
    
    <p><b>Texte en gras</b>, <i>texte en italique</i>, et <u>texte souligné</u>.</p>

    <p><a href="actualite.html">Lien vers une autre page</a></p>
    <p><a href="mailto:example@example.com">Lien vers une adresse électronique</a></p>

    <ul>
        <li>Élément de liste 1
            <ul>
                <li>Élément imbriqué 1</li>
                <li>Élément imbriqué 2</li>
            </ul>
        </li>
        <li>Élément de liste 2</li>
    </ul>
</body>
</html>