<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Exercice 5 - Cadres</title>
    <style>
        body {
            margin: 0;
            padding: 0;
        }
        iframe {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <div style="display: flex; height: 100vh;">
        <!-- Cadre gauche -->
        <iframe src="sommaire.html" name="menu" style="width: 25%; height: 100%;"></iframe>

        <!-- Cadre droit -->
        <iframe src="accueil.html" name="content" style="width: 75%; height: 100%;"></iframe>
    </div>
</body>
</html>
